<h1>Deliveries</h1>

<a href='/deliveries/new'><button type"button" class="add_new">
  Add delivery</button>
</a>

<h2>Filter by year:</h2>

<table>
  <th><a href="/deliveries">All</a></th>
  <%for year in Delivery.unique_years%>
    <th><a href='/deliveries/filter/<%=year%>'><%=year%></th>
  <%end%>
</table>
<h4><a href="/deliveries">Go Back</a>
<br/>
<h2>Filter by month:</h2>
<table>
  <th><a href="/deliveries/filter/<%=@year%>/1">Jan</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/2">Feb</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/3">Mar</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/4">Apr</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/5">May</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/6">Jun</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/7">Jul</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/8">Aug</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/9">Sep</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/10">Oct</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/11">Nov</a></th>
  <th><a href="/deliveries/filter/<%=@year%>/12">Dec</a></th>
</table>
<br/>
<form method="POST" action="/deliveries/filter/<%=@year%>">
<div class="search">
  <p>Search for...</p>
   <input id="query" name="query" type="text" placeholder="Search...">
  <button type="submit">
    <i class="fa fa-search">...</i>
  </button>
</div>
</form>
<br/>
<div class="results">
<table>
    <tr>
      <th>Content</th>
      <th>Customer</th>
      <th>Driver</th>
      <th>Voucher</th>
      <th>Issue Date</th>
      <th></th>
      <th></th>
    </tr>
    <%for delivery in @deliveries%>
    <table>
    <tr>
      <td><%=delivery.contents%></td>
      <td><a href="customers/<%=delivery.customer.id%>">
      <%=delivery.customer.company_name%></a></td>
      <td><a href="drivers/<%=delivery.driver.id%>">
      <%=delivery.driver.name%></a></td>
      <td><%=delivery.id%></td>
      <td><%=delivery.time%></td>
      <td><form class="" action="/deliveries/<%=delivery.id%>/edit" method="get">
        <input type="submit" value="EDIT">
      </form></td>
      <td><form class="" action="/deliveries/<%=delivery.id%>/delete" method="get">
        <input type="submit" value="DELETE">
      </form></td>
    </tr>
    </table>
    <%end%>
  </table>
</div>
