<h1>Deliveries</h1>

<a href='/deliveries/new'><button type"button" class="add_new">
  Add delivery</button>
</a>

<h2>Filter by year:</h2>

<table>
  <th><a href="/deliveries">All</a></th>
  <%for year in Delivery.unique_years%>
  <th><a href='/deliveries/filter/<%=year%>'><%=year%></th>
    <%end%>
  </table>

  <form method="GET" action="/deliveries">
    <div class="search">
      <h4>Search in Content...</h4>
      <input id="query" name="query" type="text" placeholder="Search...">
      <button type="submit">
        <i class="fa fa-search">...</i>
      </button>
    </div>
  </form>
  <br/>
  <table>
    <tr>
      <th>Content</th>
      <th>Customer</th>
      <th>Driver</th>
      <th>Voucher</th>
      <th>Issue Date</th>
      <th>Actions</th>
  </tr>
</table>
<%for delivery in @deliveries%>
<table>
  <tr>
    <td><%=delivery.contents%></td>
    <td><a href="customers/<%=delivery.customer.id%>">
    <%=delivery.customer.company_name%></a></td>
    <td><a href="drivers/<%=delivery.driver.id%>">
      <%=delivery.driver.name%></a></td>
    <td><%=delivery.id%></td>
    <td><%=delivery.time%></td>
    <td><form class="button-inline" action="/deliveries/<%=delivery.id%>/edit" method="get">
      <input type="submit" value="EDIT"></form>
    <form class="button-inline" action="/deliveries/<%=delivery.id%>/confirmation" method="get">
      <input type="submit" value="DELETE"></td>
      </form>
  </tr>
</table>


    <%end%>
