<h1><%=@customer.company_name%></h1>
<h2>Contact: <%=@customer.contact_name%></h2>
<h4>Address: <%=@customer.address%></h4>
<h4>E-mail: <%=@customer.email%></h4>
<h4>Phone Number: 0<%=@customer.phone_number%></h4>

<p><%=@customer.is_archived%></p>

<form class="" action="/customers/<%=@customer.id%>/edit" method="get">
  <input type="submit" value="EDIT">
</form>
<form class="" action="/customers/<%=@customer.id%>/archive" method="get">
  <input type="submit" value="ARCHIVE">
</form>
<h4><a href="/customers">Go Back</a>
